@import "tailwindcss";
@plugin "daisyui";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-dark-layer-1: rgb(40,40,40);
  --color-dark-layer-2: rgb(26,26,26);
  --color-dark-label-2: rgba(239, 241, 246, 0.75);
  --color-dark-divider-border-2: rgb(61, 61, 61);
  --color-dark-fill-2: hsla(0,0%,100%,.14);
  --color-dark-fill-3: hsla(0,0%,100%,.1);
  --color-dark-gray-6: rgb(138, 138, 138);
  --color-dark-gray-7: rgb(179, 179, 179);
  --color-gray-8: rgb(38, 38, 38);
  --color-dark-gray-8: rgb(219, 219, 219);
  --color-brand-orange: rgb(44 187 22);
  --color-brand-orange-s: rgb(193, 122, 15);
  --color-dark-yellow: rgb(255 192 30);
  --color-dark-pink: rgb(255 55 95);
  --color-olive: rgb(0, 184, 163);
  --color-dark-green-s: rgb(44 187 93);
  --color-dark-blue-s: rgb(10 132 255);
}

@layer components{
  .preferenceBtn{
    @apply relative rounded px-3 py-1.5 font-medium items-center transition-all focus:outline-none inline-flex ml-auto p-1 mr-2 hover:bg-dark-fill-3;
  }
  .preferenceBtn-tooltip{
    @apply absolute w-auto p-2 text-sm m-2 min-w-max translate-x-3 right-0 top-5 z-10 rounded-md shadow-md text-dark-layer-2 bg-gray-200 origin-center scale-0 transition-all duration-100 ease-linear group-hover:scale-100;
  }
}


.split {
    display: flex;
    flex-direction: row;
}

.gutter {
    background-color: rgb(26,26,26);
    background-repeat: no-repeat;
    background-position: 50%;
    position: relative;
}

.gutter:hover {
    background-color: rgb(26,26,26); /* Keep original background */
}

.gutter.gutter-horizontal:hover::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background-color: #0a84ff;
    transform: translateX(-50%);
}

.gutter.gutter-vertical:hover::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 2px;
    background-color: #0a84ff;
    transform: translateY(-50%);
}

/* CODE EDITOR*/
.cm-scroller,
.cm-gutters {
	background-color: #282828 !important;
}
.cm-focused {
	outline: none !important;
}

.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: row-resize;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}
code {
	border-radius: 5px;
	border-width: 1px;
	font-family: sans-serif;
	font-size: 0.75rem;
	font-weight: 500;
	line-height: 1rem;
	padding: 0.125rem;
	letter-spacing: 1px;
	white-space: pre-wrap;
	background-color: hsla(0, 0%, 100%, 0.07);
	border-color: rgba(247, 250, 255, 0.12);
	color: rgba(239, 241, 246, 0.75);
}

.example-card pre {
	background-color: hsla(0, 0%, 100%, 0.1);
	border-radius: 0.5rem;
	color: rgba(239, 241, 246, 0.75);
	font-size: 0.98rem;
	line-height: 1.25rem;
	margin-bottom: 1rem;
	margin-top: 1rem;
	padding: 1rem;
	white-space: pre-wrap;
}
.example-card pre strong {
	color: white;
	font-size: 1rem;
}